h1 {
  background-color: chocolate;
}
body {
  background-color: brown;
}
.box {
  background: white;
  height: 90px;
  width: 90px;
  margin-left: 800px;
}
img {
  width: 100px;
  border-radius: 50px;
}
